exclude .gitignore
exclude .DS_Store
exclude *.sh
include README.rst
include setup.cfg
prune .cache
prune .git
prune build
prune dist
recursive-exclude *.egg-info *
recursive-exclude tests *
recursive-include carme/data *
