cleanup
==================

When working with a lot of docker images, they various builds and versions can really utilize a lot of disk space. The `carme cleanup` will delete all images on your local computer.

WARNING: This will delete all local images, both related to Carme and otherwise. Don't worry, you can always rebuild images or pull them from the internet, but if you have a very slow internet connection you may want to be more selective in deleting images.

Usage
-----
