cmd
==================

The `carme cmd` will combine the configuration settings in /config/<package>.yaml with a templated comand in /cmd/<package>.yaml.  This makes it easy to get up and running with cloud infrasture, as packages typically come configured with defaults.

Usage
-----
